body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image: linear-gradient(134deg,#90c6ff,45%, #222222);
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center; 
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

ul a:hover{
    color: #043f7e;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #043f7e;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #043f7e;
    color: white;

}

h1{
    font-weight: 200;
}

aside{
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    height: 710px;
}

h2{
    font-size: 50px;
    line-height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span{
    color: #043f7e;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

form{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-right: 500px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #043f7e;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor:pointer;
    background-color: #022041;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.container{
    margin: 0 auto;
    margin-top:20px;
    position: relative;
    width: 500px;
    height: 400px;
    padding-bottom: 40%;
    background: #222222;
    border: solid 10px #022041;
}

.slideimg{
    position: absolute;   
    width: 100%;
    height: 100%;
}

.slideimg img{
    width: 100%;
    height: 100%;
}

 #i1, #i2, #i3{
    display: none;
}

.pre, .next{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;
}

.pre{
    left: 0;
}

.next{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12px;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0 , 0 , 0 ,.6);
}

.slideimg{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
    background: #fff
}